<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CLUCKR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                |
                <a href="/clucks/new">New Clucks!</a>            
                |
                <a href="/clucks">Clucks</a>
                |
                <a href="/clucks/sign_in">Sign In</a>
            </nav>
        </header>